---
import Button from '../components/Button.astro'
import { Image } from 'astro:assets'
import Badge from '../components/Badge.astro'

interface Props {
  badgeText?: string
  paragraphs?: string[]
  buttonText: string
  img: ImageMetadata
  secondaryButtonText?: string
}
const { badgeText, paragraphs, buttonText, img, secondaryButtonText = null } = Astro.props
---

<section class='w-100 flex justify-center items-center gap-x-28 py-10'>
  <div class='w-1/5 space-y-5'>
    {badgeText && <Badge title={badgeText} />}
    <slot name='title' />
    {
      paragraphs &&
        paragraphs.map((paragraph) => <p class='text-xs text-gray-700/80'>{paragraph}</p>)
    }

    {
      secondaryButtonText ? (
        <div class='flex gap-x-2'>
          <Button
            class='shrink'
            size='sm'
          >
            {buttonText}
          </Button>
          <Button
            class='shrink'
            variant='secondary'
            size='sm'
          >
            {secondaryButtonText}
          </Button>
        </div>
      ) : (
        <Button size='sm'>{buttonText}</Button>
      )
    }
  </div>
  <div class='w-1/4'>
    <Image
      class='rounded-2xl'
      src={img}
      alt={badgeText ? badgeText : buttonText}
    />
  </div>
</section>
